{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="google-site-verification" content="1GcUyhzDbuL4TOlQUrkjaM6ZRdqMjgB_zlOXvMLd4Dw" />
    <meta name=”description” content="PhD in the Department of Theoretical and Applied Linguistics at the University of Cambridge. Studies how people use statistical regularities in their environment when learning languages." />
    <title>Dimitrios Alikaniotis</title>
    <link rel="stylesheet" href="{% static "css/personal.css" %}" type="text/css" />
    <link rel="Shortcut Icon" href="favicon.ico" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="document">
      <div class="main-logo">
	<h1><a href="#">Dimitrios Alikaniotis</a></h1>
	<h2>University of Cambridge</h2>
	<h2 class="h2-bottom">Department of Theoretical and Applied Linguistics</h2>
      </div>
      <div class="documentwrapper">
	<div class="bodywrapper">
	  <div class="body">
	    <div class="section" id="da">
	      <div class="section" id="about">
		<p>I am a PhD student with a focus on Computational Psycholinguistics and Semantics at the <a href="http://www.mml.cam.ac.uk/dtal">Department of Theoretical and Applied Linguistics</a> at the <a href="http://www.cam.ac.uk/">University of Cambridge</a>, supervised by <a href="http://people.ds.cam.ac.uk/jnw12/"> Dr John Williams</a>.</p>
                <p>My research employs methods from statistics and machine learning, in order to gain a better understanding of how we learn and process language. My primary interest is to identify, through computational modelling and behavioural experiments, the strategies that allow people to unconsciously pick up linguistic regularities from their environment.</p>
                <p>You can find my curriculum vit&aelig; <a href="#">here</a></p>
	      </div>
	      <!--<div class="section" id="research">
		   <h2>
		   research<a class="headerlink" href="#research" title="Permalink to this headline">¶</a>
		   </h2>
		   </div>-->
	      <div class="section" id="publications">
		<h2>
		  publications<a class="headerlink" href="#publications" title="Permalink to this headline">¶</a>
		</h2>
		peer-reviewed publications:
		<ul>

		  <!-- <li>Williams, J. N., Leung, J. &amp; <b>Alikaniotis, D.</b> (2016). Cross-linguistic implicit language learning</li>
		       <li>Bentz, C. &amp; <b>Alikaniotis, D.</b>, (2016). The Word Entropy of Natural Languages</li> -->
                  <li><b>Alikaniotis, D.</b>, Yannakoudakis, H. &amp; Rei, M. (2016). Automatic Text Scoring using Neural Networks in <i>Proceedings of the 54th Annual Meeting of the Association for Computational Linguistics (ACL-2016)</i><a href="https://github.com/dimalik/aes">[code]</a>, [data], [test set]</li>
		  <li>Bentz, C., <b>Alikaniotis, D.</b>, Samard&#382;i&#263;, T. &amp; Buttery, P. (to appear). Variation in word frequency distributions: Definitions, measures and implications for a corpus-based language typology, <em>Journal of Quantitative Linguistics.</em><a href="http://www.christianbentz.de/Papers/Bentz%20et%20al.%20(in%20prep)%20Variation%20in%20word%20frequency%20distributions.pdf"><i class="fa fa-file-pdf-o"></i></a>[<a href="https://github.com/dimalik/nfd/"><strong>R package</strong></a>][<a href="https://github.com/dimalik/nfdc/"><strong>C code</strong></a>]</li>
		  <li>Zhang W., Caines A., <b>Alikaniotis D.</b> &amp; Buttery P. (2016). Predicting author age from Weibo microblog posts. <i>Proceedings of the Tenth International Conference on Language Resources and Evaluation (LREC-2016) </i>.</li>
		  <li>Caines, A. P., Bentz, C.,
	            <b>Alikaniotis, D.</b>, Katushemererwe F. &amp; Buttery,
	            P. (2016). The Glottolog Data Explorer: Mapping the world's
	            languages. <i>Proceedings of the Tenth International
	              Conference on Language Resources and Evaluation (LREC-2016)
	            </i> <a href="public_uploads/glottolog-data-explorer.pdf"><i class="fa fa-file-pdf-o"></i></a></li>
		  <li><b>Alikaniotis, D.</b> &amp; Williams, J. N. (2015). A Distributional Semantics Approach to Implicit Language Learning, in Vito Pirrelli, Claudia Marzi, Marcello Ferro (eds.): <em>Word Structure and Word Usage</em>. (NetWordS-2015). <a href="http://ceur-ws.org/Vol-1347/paper17.pdf"><i class="fa fa-file-pdf-o"></i></a></li>
		</ul>
		other (talks, posters, etc.):
		<ul>
		  <li>Williams, J. N., Sheehan M., Paciorek, A. &amp; <b>Alikaniotis, D.</b>. (2016). Linguistic naturalness and semi-artificial language learning. <i>Fifth Implicit Learning Seminar</i>, Lancaster, UK. </li>
		  <li><b>Alikaniotis, D.</b> &amp; Williams, J. N. (2015). Semantic Constraints in Implicit Language Learning. <em>Cambridge Language Sciences Annual Symposium</em>, Cambridge, UK. <a href="public_uploads/langsci.pdf"><i class="fa fa-file-pdf-o"></i></a></li>
		  <li><b>Alikaniotis, D.</b> (2015). Modelling implicit language learning with distributional semantics, <em>NLIP Seminar Series</em>, University of Cambridge.</li>
		  <li><b>Alikaniotis, D.</b> &amp; Williams, J. N. (2015). Predicting semantic constraints in implicit language learning with distributional semantics, <em>Interdisciplinary Advances in Statistical Learning</em>, San Sebastian, Spain.</li>
		  <li><b>Alikaniotis, D.</b> (2014). Computational Methods for Calculating Semantic Similarity. <em>Workshop in Computational Linguistics</em>. University of Cambridge, February 2014.</li>
		  <li><b>Alikaniotis, D.</b> (2012). <em>Implicit Rule Learning in a Computer Language Game</em>. MPhil Research Project, University of Cambridge, April 2012.</li>
		  <li><b>Alikaniotis, D.</b> (2011). <em>Pragmatic Motivations for Erroneous Reasoning</em>. MPhil Research Project, University of Cambridge, December 2011.</li>
		  <li><b>Alikaniotis, D.</b> (2011). <em>Computational Linguistics and Electronic Lexicography</em>. Bachelor's Thesis, National and Kapodistrian University of Athens.</li>
		</ul>
                in preparation:
                <ul>
                  <li><b>Alikaniotis, D.</b> (in prep). Implicit learning of form-meaning connections. Rules, analogy or associations?</li>
		  <li><b>Alikaniotis, D.</b> (in prep). An &epsilon;-method for deriving semantic neighbourhoods in high dimensional spaces</li>
		  <li><b>Alikaniotis, D.</b> (in prep). Approximating semantic structures using high-dimensional lexical spaces</li>
                </ul>
	      </div>
	      <div class="section" id="software">
		<h2>software<a class="headerlink" href="#software" title="Permalink to this headline">¶</a></h2>
		<ul>
		  <li>References management:<br />These two packages were designed to speed up productivity in Emacs/LaTeX. Pyopl is a standalone extendable command-line tool which queries several engines and returns the reference in <a href="http://www.bibtex.org/Format/">bib format</a>. Empos is an emacs-lisp wrapper which lets you invoke pyopl from within emacs.</li>
		  <ul>
		    <li>Python Online Paper Locator. [<a href="https://github.com/dimalik/pyopl/">find on github</a>]</li>
		    <li><strong>EM</strong>acs <strong>P</strong>aper <strong>O</strong>nline <strong>S</strong>earch. [<a href="https://github.com/dimalik/empos/">find on github</a>]</li>
		  </ul>
                  <li> Reproducible work: <br/> I believe that proper scientific work should be as transparent as possible. In my view, this means that methods/stimuli/data/settings or software used should be publicly available (at least wherever possible). Below you can find snippets from my own work or -hopefully- useful code for setting up experiments.</li>
                  <ul>
                    <li><a href="https://github.com/dimalik/statistical_learning">Statistical learning experiment</a> (as in Saffran et al. 1996)</li>
                    <li><a href="https://github.com/dimalik/maskmaker">Mask Maker</a>. Generates masks from words (e.g. _li__t_or for alligator) including useful information.</li>
                    <li><a href="https://github.com/dimalik/attractor">Attractor Network</a> as in Rabovsky & McRae, 2014</li>
                  </ul>
		</ul>
	      </div>
	      <div class="section" id="teaching">
		<h2>teaching<a class="headerlink" href="#teaching" title="Permalink to this headline">¶</a></h2>
		<ul>
		  Papers I taught this year (2015-2016):
		  <li><b>Li3</b>: Language, brain and society</li>
		  <li><b>Li16</b>: Psychology of Language Processing and Learning</li>
		  <li><b>Li18</b>: Computational Linguistics</li>
		  <li>MPhil Research Seminars</li>
		  <li>Foundations in Applied Statistics</li>
		  <li>Basic Quantitative Analysis</li>
		</ul>
		<ul>
		  I also (co-)supervised the following undergraduate dissertations
		  <li>Stride, A. Methods for modelling relevance of paragraphs within legal corpora.</li>
		  <li>Searle, M. Conceptual metaphor in the embodiment of abstract concepts.</li>
		</ul>
	      </div>
	      <div class="section" id="links">
		<h2>links<a class="headerlink" href="#links" title="Permalink to this headline">¶</a></h2>
		<ul>
		  <li><a href="http://camlingsoc.soc.srcf.net/">Cambridge University Linguistic Society</a></li>
		  <li><a href="http://www.mml.cam.ac.uk/dtal">DTAL</a> - Department of Theoretical and Applied Linguistics</li>
		  <li><a href="http://lalp.soc.srcf.net">Language Acquisition and Language Processing Research Cluster</a></li>
		  <li><a href="http://www.mml.cam.ac.uk/dtal/research/compling/members.html">Computational Linguistics Research Cluster</a></li>
		  <li><a href="http://www.languagesciences.cam.ac.uk/">Cambridge Language Sciences</a></li>
		</ul>
		Or for something less serious
		<ul>
		  <li><a href="http://da352.user.srcf.net/dogeifier/">Dogeifier</a></li>
		</ul>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="footer">
      <ul>
	<li>dimitrios alikaniotis</li>
	<li>university of cambridge</li>
	<li>department of theoretical and applied linguistics</li>
	<li>faculty of modern and medieval languages</li>
	<li>sidgwick avenue, cb3 9da, cambridge</li>
	<li>please place {at} cam {dot} ac {dot} uk after {my name initials} and 352 (e.g. ab111@...)</li>
      </ul>
    </div>
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-78228750-1', 'auto');
     ga('send', 'pageview');

    </script>
  </body>
</html>
